.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b3dff12;
}

.content {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 100px 0;
}

.content h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  position: absolute;
  left: 0;
  top: -1rem;
}

.containerCards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .containerCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .containerCards {
    grid-template-columns: repeat(1, 1fr);
  }
}
